
header {
    background-color:#cccccc;
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 80px;
}
.btn{
    border: none;
    width: 202px;
    height: 40px;
    background-color: #9999ff;
    color: white;
    font-size: 18px;
}
.btn:hover{
    background-color: #009900;
}

nav{
    line-height: 30px;
    height: 300px;
    width: 100px;
    padding: 5px;
}

.panel{
    background-image: linear-gradient(to top, lightgoldenrodyellow, lightsteelblue, darkturquoise);     
    height: 1000px;
    width: 1340px;   
    border-radius: 4px;
}

sel{
    border: none;
    width: 202px;
    height: 40px;
    background-color: #9999ff;
    color: white;
    font-size: 18px
}

section{
    width: 350px;
    float: left;
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
